src/main/app/cv_email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8085" doc:name="HTTP Listener Configuration" basePath="/account"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8080" doc:name="HTTP Request Configuration" basePath="/account"/>
    <http:request-builder name="Request_Builder" doc:name="Request Builder">
        <http:uri-param paramName="id" value="#[flowVars.URLParamID]"/>
        <http:header headerName="Authorization" value="#[flowVars.AuthorizationKey]"/>
    </http:request-builder>
    <http:listener-config name="HTTP_Listener_Configuration1" host="localhost" port="8086" doc:name="HTTP Listener Configuration" basePath="account"/>
    <smtp:gmail-connector name="Gmail" contentType="text/html" validateConnections="true" doc:name="Gmail"/>
    <http:request-builder name="Request_Builder1" doc:name="Request Builder">
        <http:uri-param paramName="id" value="#[flowVars.URLParamID]"/>
    </http:request-builder>
    <http:request-config name="HTTP_Request_Configuration1" host="localhost" port="8085" basePath="/account" doc:name="HTTP Request Configuration"/>
    <flow name="CreateAccountPostFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="POST" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="POST" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="firstName" value="#[payload.firstName]" doc:name="First Name"/>
        <set-variable variableName="lastName" value="#[payload.lastName]" doc:name="Last Name"/>
        <set-variable variableName="email" value="#[payload.email]" doc:name="Email"/>
        <parse-template location="C:\Users\Admin\AnypointStudio\workspace\cv_email\src\main\resources\CreateAccount.html" doc:name="Create Template"/>
        <flow-ref name="UserEmailSubFlow" doc:name="Flow Reference"/>
        <parse-template location="C:\Users\Admin\AnypointStudio\workspace\cv_email\src\main\resources\AccountCreationReport.html" doc:name="Parse Template"/>
        <flow-ref name="AdminEmailSubFlow" doc:name="Flow Reference"/>
    </flow>
    <flow name="DeleteAccountFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/{id}" allowedMethods="DELETE" doc:name="HTTP"/>
        <set-variable variableName="URLParamID" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Variable"/>
        <set-variable variableName="AuthorizationKey" value="#[message.inboundProperties.Authorization]" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration1" path="/{id}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:builder ref="Request_Builder"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="userID" value="#[payload.email]" doc:name="User ID"/>
        <set-variable variableName="email" value="#[payload.email]" doc:name="Email"/>
        <set-variable variableName="firstName" value="#[payload.firstName]" doc:name="First Name"/>
        <set-variable variableName="lastName" value="#[payload.lastName]" doc:name="Last Name"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/{id}" method="DELETE" doc:name="HTTP">
            <http:request-builder>
                <http:builder ref="Request_Builder"/>
            </http:request-builder>
        </http:request>
        <parse-template location="C:\Users\Admin\AnypointStudio\workspace\cv_email\src\main\resources\DeleteEmail.html" doc:name="Account Delete Template"/>
        <flow-ref name="UserEmailSubFlow" doc:name="Flow Reference"/>
        <parse-template location="C:\Users\Admin\AnypointStudio\workspace\cv_email\src\main\resources\AccountDeleteReport.html" doc:name="Account Delete Report"/>
        <flow-ref name="AdminEmailSubFlow" doc:name="Flow Reference"/>
    </flow>
    <flow name="UpdateAccountFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/{id}" allowedMethods="PUT" doc:name="HTTP"/>
        <set-variable variableName="URLParamID" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Variable"/>
        <set-variable variableName="AuthorizationKey" value="#[message.inboundProperties.Authorization]" doc:name="Variable"/>
        <logger message="#[flowVars.URLParamID]" level="INFO" doc:name="Logger"/>
        <logger message="#[flowVars.AuthorizationKey]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/{id}" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:builder ref="Request_Builder"/>
            </http:request-builder>
        </http:request>
        <http:request config-ref="HTTP_Request_Configuration1" path="/{id}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:builder ref="Request_Builder"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="userID" value="#[payload.email]" doc:name="User ID"/>
        <set-variable variableName="email" value="#[payload.email]" doc:name="Email"/>
        <set-variable variableName="firstName" value="#[payload.firstName]" doc:name="First Name"/>
        <set-variable variableName="lastName" value="#[payload.lastName]" doc:name="Last Name"/>
        <parse-template location="C:\Users\Admin\AnypointStudio\workspace\cv_email\src\main\resources\UpdateAccountEmail.html" doc:name="Account Update Email"/>
        <flow-ref name="UserEmailSubFlow" doc:name="Flow Reference"/>
        <parse-template location="C:\Users\Admin\AnypointStudio\workspace\cv_email\src\main\resources\AccountUpdateReport.html" doc:name="Account Update Report"/>
        <flow-ref name="AdminEmailSubFlow" doc:name="Flow Reference"/>
    </flow>
    <flow name="UpdatePasswordFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/password/{id}" allowedMethods="PUT" doc:name="HTTP"/>
        <set-variable variableName="URLParamID" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Variable"/>
        <set-variable variableName="AuthorizationKey" value="#[message.inboundProperties.Authorization]" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/password/{id}" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:builder ref="Request_Builder"/>
            </http:request-builder>
        </http:request>
        <http:request config-ref="HTTP_Request_Configuration1" path="/{id}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:builder ref="Request_Builder"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="userID" value="#[payload.email]" doc:name="User ID"/>
        <set-variable variableName="email" value="#[payload.email]" doc:name="Email"/>
        <set-variable variableName="firstName" value="#[payload.firstName]" doc:name="First Name"/>
        <set-variable variableName="lastName" value="#[payload.lastName]" doc:name="Last Name"/>
        <parse-template location="C:\Users\Admin\AnypointStudio\workspace\cv_email\src\main\resources\UpdatePasswordEmail.html" doc:name="Account Password Email"/>
        <flow-ref name="UserEmailSubFlow" doc:name="Flow Reference"/>
        <parse-template location="C:\Users\Admin\AnypointStudio\workspace\cv_email\src\main\resources\PasswordUpdateReport.html" doc:name="Account PasswordReport"/>
        <flow-ref name="AdminEmailSubFlow" doc:name="Flow Reference"/>
    </flow>
    <flow name="GetAccountFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/{id}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="URLParamID" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Variable"/>
        <set-variable variableName="AuthorizationKey" value="#[message.inboundProperties.Authorization]" doc:name="Variable"/>
        <logger message="#[flowVars.URLParamID]" level="INFO" doc:name="Logger"/>
        <logger message="#[flowVars.AuthorizationKey]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/{id}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:builder ref="Request_Builder"/>
            </http:request-builder>
        </http:request>
    </flow>
    <sub-flow name="UserEmailSubFlow">
        <smtp:outbound-endpoint host="smtp.gmail.com" user="packetsniffers404@gmail.com" password="Packet123" connector-ref="Gmail" to="#[flowVars.email]" from="packetsniffers404@gmail.com" subject="CV Status" responseTimeout="10000" doc:name="SMTP"/>
    </sub-flow>
    <sub-flow name="AdminEmailSubFlow">
        <smtp:outbound-endpoint host="smtp.gmail.com" user="packetsniffers404@gmail.com" password="Packet123" connector-ref="Gmail" to="packetsniffers404@gmail.com" from="packetsniffers404@gmail.com" subject="Accounts Report" responseTimeout="10000" doc:name="SMTP"/>
    </sub-flow>
</mule>
